.country {
    overflow: hidden;
    background-color: #0075ff;
    color: #fff;
    margin-left: 1rem;
    overflow: hidden;
    margin-top: rem;
}
.country h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}