<div class="product-details">
    <div class="container-fluid">
        <h2 class="title">Product Details</h2>
        <div class="product">
            <div class="image col-4">
                <img [src]="product?.image" class="img-fluid object-fit">
            </div>
            <div class="content">
                <ul class="list-unstyled">
                    <li><span>Title:</span> {{product?.title}}</li>
                    <li><span>Description:</span> {{product?.description}}</li>
                    <li><span>Price:</span> {{product?.price}}</li>
                    <li><span>Category:</span> {{product?.category}}</li>
                </ul>
                <div class="text-end pe-5">
                    <a class="btn btn-primary" [routerLink]="['/products']">Homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>
