<aside class="sidebar">
    <div class="box-content">
        <h3>Heading</h3>
        <ul class="d-flex flex-column">
            <li>Lorem ipsum, do dolore sapien </li>
            <li>Lorem ipsum, do dolore sapien </li>          
            <li>Lorem ipsum, do dolore sapien </li>    
        </ul>
    </div>
      <div class="box-content">
        <h3>Heading</h3>
        <ul class="d-flex flex-column">
            <li>Lorem ipsum, do dolore sapien </li>
            <li>Lorem ipsum, do dolore sapien </li>          
            <li>Lorem ipsum, do dolore sapien </li>    
        </ul>
    </div>
  

</aside>

